<div class="banner jumbotron d-flex justify-content-center align-items-center text-info border border-secondary">
    <i class="fas fa-university fa-4x mr-3 mt-3"></i>
    <div class="display-3 font-weight-bold">
        <u>
            <%= bannerTitle %>
        </u>
    </div>
</div>
<hr>