<%- include('./partials/header') %>
    <%- include('./partials/navbar') %>
        <div
            style="height: 70vh; display: flex; justify-content: center; align-items: center; flex-direction: column;">
            <h1 class="text text-danger" style="font-weight: bold;">Error 404: Page Not Found</h1>
            <h3><a href="/" class="text text-dark">Go to Homepage</a></h3>
        </div>
        <%- include('./partials/footer') %>