<%- include('./partials/header') %>
<%- include('./partials/navbar') %>
<div class="container-fluid mt-4">
    <div class="display-4 text-center text-primary font-weight-bolder mt-5 mb-3">
        <u>Registration Form</u>
    </div>
    <form action="/add-customer" method="post" class="w-50 mx-auto border border-primary rounded px-4 py-4">
        <div class="text-center display-4 text-primary mb-3">
            Registration Form
        </div>
        <hr class="bg bg-primary mb-4">
        <div class="form-group">
            <label for="email">Email ID</label>
            <input class="form-control" placeholder="Enter Email" type="text" name="email" id="email">
        </div>
        <div class="form-group">
            <label for="username">Name</label>
            <input class="form-control" placeholder="Enter Full Name" type="text" name="username" id="username">
        </div>
        <div class="form-group">
          <label for="age">Age</label>
          <select class="form-control" id="age" name="age">
              <% for(var i=18;i<=100;i++) { %>
              <option><%= i %></option>
              <% } %>
          </select>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" placeholder="Enter Password" type="text" name="password" id="password">
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input class="form-control" placeholder="Enter Same Password" type="text" name="confirm_password" id="confirm_password">
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
</div>
<%- include('./partials/footer') %>